body {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    margin: 0;
}

.calculator {
    padding: 25px 20px;
    border-radius: 15px;
    box-shadow: 0 8px 15px;
    width: 310px;
}

#display {
    width: 100%;
    height: 70px;
    font-size: 2rem;
    text-align: right;
    border: none;
    outline: none;
    padding: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    background: white;
    color: black;
    box-shadow: inset 0 2px 4px black;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.btn {
    background-color: #333;
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 18px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease;
    box-shadow: 0 2px 4px black;
}

.btn:hover {
    background-color: #2b2b2b;
}

.equal {
    background-color: orange;
    font-weight: bold;
}

.equal:hover {
    background-color: rgb(119, 79, 3);
}

.btn:nth-child(1),
.btn:nth-child(2) {
    background-color: orange;
}

.btn:nth-child(1):hover,
.btn:nth-child(2):hover {
    background-color: rgb(119, 79, 3);
}